{% extends "baseof.html" %}

{% block body %}
<div class="content container">
    <div class="section">
    {% if section.title %}<h1 class="section-title">{{ section.title }}</h1>{% endif %}
    {% if section.description %}<div class="lead">{{ section.description }}</div>{% endif %}
    <hr>
    {{ section.content | safe }}

    <!-- Yearly Post Summary -->
    <div class="archive">
    {% set blog = get_section(path="blog/_index.md") %}
    {% for year, posts in blog.pages | group_by(attribute="year") %}
      <div class="archive-year"><h3>{{ year }}</h3></div>

      {% for post in posts %}
      <div class="archive-post">
        <a class="flex-none" href="{{ post.permalink | safe }}">{{ post.title }}</a>
        <div class="archive-spacer"></div>
        <div class="archive-date">{{ post.date | date(format="%b %d, %Y") }}</div>
      </div>
      {% endfor %}
    {% endfor %}
    </div>

    {% include "partials/_footer.html" ignore missing %}
  </div>
</div>
{% endblock body %}